
// Legacy IE support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// Font faces, stacks and sizes.
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 1.5  * $base-font-size;
$h2-font-size: 1.1  * $base-font-size;
$h3-font-size: 1.0  * $base-font-size;
$h4-font-size: 0.9  * $base-font-size;
$h5-font-size: 0.8 * $base-font-size;
$h6-font-size: 0.7 * $base-font-size;

$oxygen: "Oxygen", Verdana, Tahoma, sans-serif;
$courier: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $oxygen; // The font family set on the html element.
$font-body:        $oxygen;
$font-monospace:   $courier;

// Colors
$green: #9AC567;
$green2: #7B945F;
$green3: #548021;
$green4: #BCE291;
$green5: #C6E2A7;
$green6: #629E1D;

$light-grey1: #efefef;

$grey1: #E5E5E5;
$grey2: #8A9EA9;
$grey3: #738B99;
$grey4: #576A77;
$grey5: #465660;

$red: #BC6285;
$beige: #F5F3EB;
$white: #FFFFFF;
$yellow: #D9BC72;
$blue: #82C4CE;
$black: $grey5;

$font-color: $grey5;

$bar-color: $grey5;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 2em;

$tabs-container-bg: #fff;
$tabs-border: #bbb;

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3/text-shadow";
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "zen";

@import "custom";
