/**
 * @file
 * Positioning for responsive layout.
 *
 * @section id_and_css CSS id and class structure
 *
 * - #page
 *   - #header-columns
 *     - .region-header-firstcolumn
 *     - .region-header-secondcolumn
 *     - #secondary-menu
 *   - #header
 *     - #name-and-slogan
 *     - #theme-image
 *   - #navigation
 *     - #main-menu
 *     - .region-navigation
 *   - #main
 *     - #content
 *       - .region-highlighted
 *       - .region-content
 *     - #sidebars
 *       - .region-sidebar-first
 *       - .region-sidebar-second
 *   - #footer-columns
 *     - .region-footer-firstcolumn
 *     - .region-footer-secondcolumn
 *   - .region-footer
 *   - #tertiary-menu
 * - .region-bottom
 */

@import "base";

$zen-column-count:  5;
$zen-gutter-width:  1em;

$zen-auto-include-item-base: false;

/*
 * Center the page.
 */

#wrapper,
#page,
.region-sky,
.region-hell {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */

#header-columns,
#content,
.region-sidebar-first,
#footer {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer,
#secondary-menu,
#tertiary-menu {
  @include zen-grid-container();
}

/*
 * Mobile
 */
#theme-image {
  display: none;
}

/*
 * Medium and large
 */

@media all and (min-width: 45em) {

  /*
   * Use 3 grid columns.
   */

  $zen-column-count: 12;

  #header {
    #name-and-slogan {
      @include zen-grid-item(8, 1);
    }
    #theme-image {
      display: block;
      @include zen-grid-item(4, 9);
    }
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */

  .sidebar-first {
    #content {
      @include zen-grid-item(8, 2);
    }

    .region-sidebar-first {
      @include zen-grid-item(4, 9);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */

  .sidebar-second {
    #content {
      @include zen-grid-item(8, 1);
    }

    .region-sidebar-second {
      @include zen-grid-item(4, 9);
    }
  }

  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #content {
      @include zen-grid-item(8, 5);
    }

    .region-sidebar-first {
      @include zen-grid-item(4, 1);
    }

    .region-sidebar-second {
      @include zen-grid-item(12, 1);
      @include zen-nested-container();
      @include zen-clear();

      .block {
        @include zen-grid-item-base();
      }
      .block:nth-child(3n+1) {
        @include zen-grid-item(4, 1);
        @include zen-clear();
      }
      .block:nth-child(3n+2) {
        @include zen-grid-item(4, 5);
      }
      .block:nth-child(3n) {
        @include zen-grid-item(4, 9);
      }
    }
  }

  /*
   * Footer columns.
   */

  .region-footer-firstcolumn {
    @include zen-grid-item(10, 1);
  }

  .region-footer-secondcolumn {
    @include zen-grid-item(2, 11);
  }
}
