/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";

.node-unpublished {

  p.unpublished {
    @include unpublished-div;
  }
}

.node-readmore a {
  font-size: .9em;
  &:after {
    content: ' »';
  }
}
