/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */

body {
  background-color: #fff;
  color: $grey5;
  margin: 0;
  padding: 0;
}

#wrapper {
  @media all and (min-width: 45em) {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

#page {
  box-shadow: 0 0 5em .5em #ddd;
}

#main {
  background-color: $white;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header colums
 */

#header-columns {
  background-color: $grey5;
}

/*
 * Header
 */

.region-header {
  clear: both;
}

#header {
  background-color: $white;
  height: 7em;
  @media (min-width: 30em) {
    height: 7em;
  }
  @media (min-width: 40em) {
    height: 8em;
  }
  @media (min-width: 60em) {
    height: 9em;
  }
}

#name-and-slogan {
  float: left;
  display: table;
  height: 100%;
}

#logo { /* Wrapping link for logo */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  //margin: 1em;
  padding: 0;
  img {
    width: 90%;
    @media (min-width: 35em) {
      width: 80%;
    }
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

#theme-image {
  overflow: hidden;
  img {
    overflow: hidden;
    max-width: 28em; /* Override normalize.css */
    width: 28em;
    height: auto;
  }
  height: 100%;
  padding: 0;
  margin: 0;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

/*
 * Content
 */

#content {
  background-color: $white;
  padding-bottom: 1em;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

div.messages {
  margin: 1.5em 0;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager {
  padding: 0;

  li {
    padding: 0 0.5em;
  }
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
  background-color: $grey1;
}

.region-sidebar-second {
  background-color: $green;
}

/*
 * Footer
 */

#footer,
#footer-columns {
  font-size: .9em;
  background-color: $grey5;

  .block {
    p {
      color: $white;
    }
  }

  .region-footer-secondcolumn {
    text-align: right;
  }

  .block-menu ul.menu {
    display: inline;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;
      padding: 0 1em 0 0;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.region-hell {
  .block {
      a {
      color: $font-color;
    }
  }
}
