@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Positioning for responsive layout.
 *
 * @section id_and_css CSS id and class structure
 *
 * - #page
 *   - #header-columns
 *     - .region-header-firstcolumn
 *     - .region-header-secondcolumn
 *     - #secondary-menu
 *   - #header
 *     - #name-and-slogan
 *     - #theme-image
 *   - #navigation
 *     - #main-menu
 *     - .region-navigation
 *   - #main
 *     - #content
 *       - .region-highlighted
 *       - .region-content
 *     - #sidebars
 *       - .region-sidebar-first
 *       - .region-sidebar-second
 *   - #footer-columns
 *     - .region-footer-firstcolumn
 *     - .region-footer-secondcolumn
 *   - .region-footer
 *   - #tertiary-menu
 * - .region-bottom
 */
/**
 * @file
 * Custom mixins
 */
/*
 * Center the page.
 */
#wrapper,
#page,
.region-sky,
.region-hell {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#header-columns,
#content,
.region-sidebar-first,
#footer {
  padding-left: 0.5em;
  padding-right: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after,
#secondary-menu:before,
#secondary-menu:after,
#tertiary-menu:before,
#tertiary-menu:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after,
#secondary-menu:after,
#tertiary-menu:after {
  clear: both;
}

/*
 * Mobile
 */
#theme-image {
  display: none;
}

/*
 * Medium and large
 */
@media all and (min-width: 45em) {
  /*
   * Use 3 grid columns.
   */
  #header #name-and-slogan {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  #header #theme-image {
    display: block;
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 8.33333%;
    margin-right: -75%;
  }
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block {
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * Footer columns.
   */
  .region-footer-firstcolumn {
    float: left;
    width: 83.33333%;
    margin-left: 0%;
    margin-right: -83.33333%;
  }

  .region-footer-secondcolumn {
    float: left;
    width: 16.66667%;
    margin-left: 83.33333%;
    margin-right: -100%;
  }
}
