@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/**
 * @file
 * Custom mixins
 */
.node-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

.node-readmore a {
  font-size: .9em;
}
.node-readmore a:after {
  content: ' »';
}
