@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/**
 * @file
 * Custom mixins
 */
/*
 * Body
 */
body {
  background-color: #fff;
  color: #465660;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 45em) {
  #wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

#page {
  box-shadow: 0 0 5em .5em #ddd;
}

#main {
  background-color: white;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header colums
 */
#header-columns {
  background-color: #465660;
}

/*
 * Header
 */
.region-header {
  clear: both;
}

#header {
  background-color: white;
  height: 7em;
}
@media (min-width: 30em) {
  #header {
    height: 7em;
  }
}
@media (min-width: 40em) {
  #header {
    height: 8em;
  }
}
@media (min-width: 60em) {
  #header {
    height: 9em;
  }
}

#name-and-slogan {
  float: left;
  display: table;
  height: 100%;
}

#logo {
  /* Wrapping link for logo */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  padding: 0;
}
#logo img {
  width: 90%;
}
@media (min-width: 35em) {
  #logo img {
    width: 80%;
  }
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

#theme-image {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}
#theme-image img {
  overflow: hidden;
  max-width: 28em;
  /* Override normalize.css */
  width: 28em;
  height: auto;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/*
 * Content
 */
#content {
  background-color: white;
  padding-bottom: 1em;
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

div.messages {
  margin: 1.5em 0;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul.inline {
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  padding: 0;
}
.item-list .pager li {
  padding: 0 0.5em;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
  background-color: #e5e5e5;
}

.region-sidebar-second {
  background-color: #9ac567;
}

/*
 * Footer
 */
#footer,
#footer-columns {
  font-size: .9em;
  background-color: #465660;
}
#footer .block p,
#footer-columns .block p {
  color: white;
}
#footer .region-footer-secondcolumn,
#footer-columns .region-footer-secondcolumn {
  text-align: right;
}
#footer .block-menu ul.menu,
#footer-columns .block-menu ul.menu {
  display: inline;
  padding: 0;
}
#footer .block-menu ul.menu li,
#footer-columns .block-menu ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}
#footer p,
#footer-columns p {
  margin: 0;
  padding: 0;
}

.region-hell .block a {
  color: #465660;
}
