/**
 * @file
 * Block Styling
 */

@import "base";

.block {
  font-size: .9em;
  padding: .5em;
  margin: .5em 0;
  color: $white;

  p, h2.block-title {
    color: $white;
  }

  a {
    color: $white;
    text-decoration: none;
    border-bottom: 1px dotted $white;
  }
}

.region-sidebar-second .block {
  padding: 1.2em;
}

#footer-columns .block {
  background: none;
}

.contextual-links-wrapper {
  a {
    border: none;
  }
}

// Unsichtbare Anmeldelink
#block-block-5 {
  padding: 0;
  background: $white;
  text-align: right;
  p {
    margin: 0;
  }
  a {
    border-bottom: none;
    &:hover {
      color: $red;
    }
  }
}

// Wichtige Urteile
#block-views-current-block {
  h3 {
    margin: 1em 0 0;
    text-transform: none;
    line-height: normal;
    a {
      font-size: .9em;
      color: $grey5;
      border-bottom: none;
    }
  }
  em {
    font-size: .8em;
    font-style: normal;
    color: $grey3;
  }
  p {
    margin: 0;
    font-size: .7em;
    text-align: right;
  }
}