/**
 * @file
 * Form Styling
 */

@import "base";

.form-item {
  margin: 1.5em 0;

  input {
    border: 1px solid $grey3;
  }

  input.error,
  textarea.error,
  select.error {
    border: 1px solid #c00;
    color: $grey5;
  }

  label {
    display: block;
    font-weight: bold;
  }

  label.option {
    display: inline;
    font-weight: normal;
  }

  .form-required {
    color: #c00;
  }

  .description {
    color: $grey2;
    font-size: 0.85em;

  }

  .form-checkboxes & ,
  .form-radios & {
    margin: 0;
  }
}

.form-submit { /* The submit button */
  background: $grey4;
  border: 1px solid $grey4;
  color: $white;
  padding: .025em .7em;
  text-transform: uppercase;
  &:hover {
    opacity: .7;
  }
}

.container-inline {
  div,
  label {
    display: inline;
  }
}

a.button {
  @include appearance(button);
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */

  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  ul {
    margin-bottom: 0;
  }

  html.js & li.openid-link,
  li.openid-link {
    margin-top: 1.5em;
    margin-left: -20px;
  }

  li.user-link {
    margin-top: 1.5em;
  }
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  tbody {
    border-top: 1px solid #ccc;
  }

  tr.even {
    background-color: #fff;
  }

  table .item-list ul {
    margin: 0;
  }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      border-bottom: 1px solid #ccc;
    }
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}
