/**
 * @file
 * Views Styling
 */

@import "base";

.judgement-row {
  em {
    font-size: .9em;
    color: $grey4;
  }

  .field-of-law {
    font-size: .9em;
    text-align: right;
  }

  border-bottom: 1px solid $grey2;
}