/**
 * @file
 * Text styling
 */

@import "base";

h1, h2, h3, h4, h5, h6 {
  color: $grey5;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}

p {
  color: $grey5;
  @include hyphenation;
}

a {
  color: $green6;
  text-decoration: underline;
  &:hover {
    opacity: .7;
  }
}

blockquote {
  font-size: 1.1em;
  font-style: normal;
  margin: 1em 0 0;
  padding: .25em 3em .25em 4em;
  position: relative;
  background: $light-grey1;

  &:before, &:after {
    font-family: Arial;
    display: block;
    font-size: 4em;
    position: absolute;
    color: $grey5;
  }

  &:before {
    content: "\201C";
    left: .1em;
    top: .4em;
  }

  &:after {
    content: "\201E";
    right: .1em;
    bottom: .5em;
  }
}
