@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Text styling
 */
/**
 * @file
 * Custom mixins
 */
h1, h2, h3, h4, h5, h6 {
  color: #465660;
  text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

p {
  color: #465660;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a {
  color: #629e1d;
  text-decoration: underline;
}
a:hover {
  opacity: .7;
}

blockquote {
  font-size: 1.1em;
  font-style: normal;
  margin: 1em 0 0;
  padding: .25em 3em .25em 4em;
  position: relative;
  background: #efefef;
}
blockquote:before, blockquote:after {
  font-family: Arial;
  display: block;
  font-size: 4em;
  position: absolute;
  color: #465660;
}
blockquote:before {
  content: "\201C";
  left: .1em;
  top: .4em;
}
blockquote:after {
  content: "\201E";
  right: .1em;
  bottom: .5em;
}
