@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Block Styling
 */
/**
 * @file
 * Custom mixins
 */
.block {
  font-size: .9em;
  padding: .5em;
  margin: .5em 0;
  color: white;
}
.block p, .block h2.block-title {
  color: white;
}
.block a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.region-sidebar-second .block {
  padding: 1.2em;
}

#footer-columns .block {
  background: none;
}

.contextual-links-wrapper a {
  border: none;
}

#block-block-5 {
  padding: 0;
  background: white;
  text-align: right;
}
#block-block-5 p {
  margin: 0;
}
#block-block-5 a {
  border-bottom: none;
}
#block-block-5 a:hover {
  color: #bc6285;
}

#block-views-current-block h3 {
  margin: 1em 0 0;
  text-transform: none;
  line-height: normal;
}
#block-views-current-block h3 a {
  font-size: .9em;
  color: #465660;
  border-bottom: none;
}
#block-views-current-block em {
  font-size: .8em;
  font-style: normal;
  color: #738b99;
}
#block-views-current-block p {
  margin: 0;
  font-size: .7em;
  text-align: right;
}
