@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Form Styling
 */
/**
 * @file
 * Custom mixins
 */
.form-item {
  margin: 1.5em 0;
}
.form-item input {
  border: 1px solid #738b99;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
  color: #465660;
}
.form-item label {
  display: block;
  font-weight: bold;
}
.form-item label.option {
  display: inline;
  font-weight: normal;
}
.form-item .form-required {
  color: #c00;
}
.form-item .description {
  color: #8a9ea9;
  font-size: 0.85em;
}
.form-checkboxes .form-item, .form-radios .form-item {
  margin: 0;
}

.form-submit {
  /* The submit button */
  background: #576a77;
  border: 1px solid #576a77;
  color: white;
  padding: .025em .7em;
  text-transform: uppercase;
}
.form-submit:hover {
  opacity: .7;
}

.container-inline div,
.container-inline label {
  display: inline;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
#user-login-form ul {
  margin-bottom: 0;
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  margin-top: 1.5em;
  margin-left: -20px;
}
#user-login-form li.user-link {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
form tbody {
  border-top: 1px solid #ccc;
}
form tr.even {
  background-color: #fff;
}
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
td.menu-disabled {
  background: #ccc;
}
