@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Local task (tabs)
 */
/**
 * @file
 * Custom mixins
 */
/* Basic positioning styles shared by primary and secondary tabs. */
.tabs-primary, .tabs-secondary {
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(100%, #bbbbbb), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: -moz-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: -o-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: -ms-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  /* IE 9 and earlier don't understand gradients. */
  list-style: none;
  border-bottom: 1px solid #bbbbbb \0/ie;
  margin: 1.5em 0;
  padding: 0 2px;
  white-space: nowrap;
}

.tabs-primary__tab, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: left;
  /* LTR */
  margin: 0 3px;
}

a.tabs-primary__tab-link, a.tabs-secondary__tab-link {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/* Primary tabs. */
.tabs-primary {
  font-size: .9em;
}

.tabs-primary__tab, .tabs-primary__tab.is-active {
  border: 1px solid #bbbbbb;
  border-bottom-color: transparent;
  /* IE 9 and earlier don't understand gradients. */
  border-bottom: 0 \0/ie;
}

.is-active.tabs-primary__tab {
  border-bottom-color: white;
}

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
}

a.tabs-primary__tab-link:hover, a.tabs-primary__tab-link:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}

a.tabs-primary__tab-link:active, a.tabs-primary__tab-link.is-active {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#00E9E9E9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, rgba(233, 233, 233, 0)));
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -moz-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -o-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -ms-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  border-color: #fff;
}

/* Secondary tabs. */
.tabs-secondary {
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -1.5em;
}

.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  margin: 0.75em 3px;
}

a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}

a.tabs-secondary__tab-link:hover, a.tabs-secondary__tab-link:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}

a.tabs-secondary__tab-link:active, a.tabs-secondary__tab-link.is-active {
  background-color: #666;
  border-color: #000;
  color: #fff;
}
