@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
/**
 * @file
 * Views Styling
 */
/**
 * @file
 * Custom mixins
 */
.judgement-row {
  border-bottom: 1px solid #8a9ea9;
}
.judgement-row em {
  font-size: .9em;
  color: #576a77;
}
.judgement-row .field-of-law {
  font-size: .9em;
  text-align: right;
}
